.eggs/
.venv/
build/

ckpt_files_OCID/pretrained/model_last.pth.tar

DATA/logs/
DATA/OCID_grasp/
DATA/output/

dist/
GraspDetSeg_CNN.egg-info/

inplace_abn/

weights_pretrained/resnet101

__pycache__/
_version.py
**/*.py[cod]
